:host {
  display: flex;
  flex-flow: row;

  justify-content: space-between;
  align-items: center;

  background-color: #FFFFFF;

  padding: 0 24px;
}

.logo {
  height: 24px;
}

.profile {
  width: 32px;
  aspect-ratio: 1;

  border-radius: 50%;

  margin: 12px 0;
}
