<section class="section">
  <web-profile (profileClick)="openProfileModal()"></web-profile>
  <web-frame class="frame--nav">
    <web-menu
      class="frame--nav-menu"
      [items]="menuItems"
      [selectedId]="selectedMenuItemId"
      (selectItem)="selectedMenuItemId = $event.id"
    ></web-menu>
  </web-frame>
</section>
<section class="section section--main">
  <web-frame class="frame--create-post">
    Create post
  </web-frame>
  <web-frame class="frame--post">
    Post
  </web-frame>
</section>
<section class="section">
  <web-frame class="frame--subscribers">
    Subscribers
  </web-frame>
</section>
