@use "apps/social-network/src/styles";

:host {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr;

  gap: 28px;

  padding: 28px;

  background-color: #F9F9F9;
}

.section {
  position: sticky;
  top: 0;

  height: fit-content;

  display: flex;
  flex-flow: column;
  gap: 24px;

  &--main {
    align-items: center;
  }
}

web-frame {
  display: grid;
  place-items: center;
}

.frame {
  &--profile {
    width: 283px;
    height: 347px;
  }

  &--nav {
    width: 283px;

    &-menu {
      width: 100%;
    }
  }

  &--subscribers {
    width: 283px;
    height: 800px;
  }

  &--create-post {
    width: 663px;
    height: 124px;
  }

  &--posts {
    display: flex;
    flex-flow: column;

    justify-content: center;

    gap: 24px
  }

  &--post {
    width: 663px;
    height: 532px;
  }
}
