<section class="section">
  <web-profile (profileClick)="openProfileModal()"></web-profile>
  <web-frame class="frame--nav">
    <web-menu
      class="frame--nav-menu"
      [items]="menuItems"
      [selectedId]="selectedMenuItemId"
      (selectItem)="selectedMenuItemId = $event.id"
    ></web-menu>
  </web-frame>
</section>
<web-feed *ngIf="selectedMenuItemId === 1" class="section section--main"></web-feed>
<web-requests *ngIf="selectedMenuItemId === 2" class="section section--main"></web-requests>
<web-browse *ngIf="selectedMenuItemId === 3" class="section section--main"></web-browse>
<section class="section">
  <web-subscribers class="frame--subscribers"></web-subscribers>
</section>
