<section class="section">
  <web-profile></web-profile>
  <web-frame class="frame--profile">
    Profile
  </web-frame>
  <web-frame class="frame--nav">
    Navigation
  </web-frame>
  <web-frame class="frame--subscribers">
    Subscribers
  </web-frame>
</section>
<section class="section section--main">
  <web-frame class="frame--create-post">
    Create post
  </web-frame>
  <web-frame class="frame--post">
    Post
  </web-frame>
</section>
<section class="section">
  <web-frame class="frame--requests">
    Requests
  </web-frame>
</section>
