@use "apps/social-network/src/styles";

:host {
  display: flex;
  flex-flow: column;

  height: 100vh;

  ::ng-deep > *:last-child {
    flex-grow: 1;
    overflow: scroll;
  }
}

.header {
  position: sticky;
  top: 0;

  width: 100vw;

  z-index: 999;
}
